@page
@model IEnumerable<nss.Models.Student>
@{
    ViewData["Title"] = "Home page";
}

<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Slack Handle
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slack)
            </td>
        </tr>
        }
    </tbody>foreach
</table>
